<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/header :: header"></head>
	<body ng-app="resourceApplication">
		<div class="container" ng-controller="resourceController">
			<div class="page-header">
				<h1>List of uploaded files</h1>
			</div>
			<div class="well">
				<h3>Found files: <span class="label label-primary">{{totalResources}}</span></h3>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Content length</th>
						<th>Creation date</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="resource in resources">
						<td>{{$index + 1}}</td>
						<td>{{resource.originalName}}</td>
						<td>{{resource.contentLength | bytes}}</td>
						<td>{{resource.creationDate}}</td>
						<td>
							<a download="{{item.originalName}}" href="/download/{{resource.pathToResource}}">Download</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<button class="btn btn-primary" ng-click="getResources()">
					<i class="fa fa-refresh" aria-hidden="true"></i> Refresh table
				</button>
				<button class="btn btn-success" ng-click="showUploadResourceForm()">
					<i class="fa fa-upload" aria-hidden="true"></i> Upload file
				</button>
			</div>
			<script type="text/ng-template" id="uploadResourceForm.html">
    			<div class="modal-header">
    				<h3 class="modal-title">Upload file form</h3>
   			 	</div>
				<div class="modal-body">
					<div class="alert alert-danger" ng-if="error !== undefined">
						{{error}}
					</div>
					<form id="upload-resource-form" enctype="multipart/form-data">
						<div class="form-group">
							<label for="resource">Select a file</label>
							<input type="file" class="form-control" id="resource" name="resource" required="required"></input>
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<textarea class="form-control" id="description" name="description"></textarea>
						</div>
						<div class="form-group">
							<div class="text-center">
								<i id="upload-resource-spinner" class="fa fa-spinner fa-spin fa-3x fa-fw" style="display:none"></i>
							</div>
						</div>
					</form>
    			</div>
    			<div class="modal-footer">
					<button type="button" id="upload-resource-submit" class="btn btn-primary" ng-click="upload()">
						Upload
					</button>
					<button type="button" class="btn btn-default" ng-click="cancel()">
						Cancel
					</button>
				</div>
			</script>
		</div>
	</body>
</html>